---
---
// See Wikipedia "Shades_of_blue" for color names and coordinates
$daAzul: rgba(0, 112, 187, 0.9);
$daCerulean: rgba(0, 123, 167, 0.7);
$daCeruleanLight: rgba(0, 123, 167, 0.5);
$TuftsBlue: rgba(65, 143, 222, 1);
$LightRed: rgba(255, 88, 93, 1);
$DarkRed: rgba(203, 51, 59, 1);
$OffBlack: rgba(33, 37, 41, 1);

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter.ttf");
}

body {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    font-family: "Inter", sans-serif;
    font-weight: 350;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    h4, h5, h6 {
        font-weight: 450;
        font-size: 20px;
    }
}

h1 , h2 , h3 , h4 , h5 , h6 {
    text-align : left ;
    text-wrap : balance ;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 21px;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

nav {
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 0.4em;
}

img {
    max-width: 100%;
}

.transistion {
    color: white;
    transition: background-color 0.4s, color 0.4s;
    &:hover {
        background-color: rgba(0, 0, 0, 0);
    }
}

.cerulean {
    border: 2px solid $daCerulean;
    &:hover {
        color: $daCerulean;
    }
}

.roundbutton {
    @extend .transistion;
    height: 2em;
    border-radius: 1em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1em;
    &:hover {
        @extend .transistion;
    }
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.solobutton {
    background-color: $TuftsBlue;
        border: 2px solid $TuftsBlue;
    color: white;
    &:hover {
        background-color: rgba(0, 0, 0, 0);
        color: $TuftsBlue;
    }
}

nav > a {
    @extend .roundbutton;
    color: black;
}

nav > a:hover {
    color: white;
    background-color: rgb(38, 38, 38);
}

#top_header {
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 1.0em;
}

#top_header > a {
    background-color: $TuftsBlue;
    color: white;
    padding: 0.9em 1.2em;
    border-radius: 0 0 0.8em 0.8em;
    display: inline-block;
    text-decoration: none;
    transition: padding-top 0.3s;
    position: absolute;
    &:hover {
        background-color: $daCeruleanLight;
    }
}

#top_header > a:hover {
    transition: padding-top 0.3s;
    padding-top: 1.3em;
}

#top_header > a > img {
    height: 1.4em;
}

#menuContainer {
    display: flex;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 3em;
}

#menuContainer img {
    height: 7em;
}

// @media only screen and (min-width: 1200px) {
//     body {
//         margin-left: 200px;
//         margin-right: 200px;
//     }
// }

.gridContainer {
    font-size: 20px;
    text-align: left;
    display: grid;
    gap: 1em;
    min-height: 400px;
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.gridContainer > div {
    padding: 1em;
    background-color: $TuftsBlue;
    color: white;
    position: relative;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 2.8em;  // Guarentee space for button
}

.gridContainer {

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    > :is( 
        :nth-child( 4n + 0 ) ,
        :nth-child( 4n + 1 )
    ){
        background : $daCerulean ;
    }

    > div:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    > div:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    > div:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    > div:nth-child(4) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}

.shortcuts a {
    @extend .roundbutton;
    position: absolute;
    bottom: 1em;
    right: 1em;
    background-color: white;
    color: black;
    &:hover {
        background-color: rgba(0, 0, 0, 0);
        color: white;
    }
    border: 2px solid white;
}

$time: 0.8s;

.menuList {
    // font-family: "Inter", sans-serif;
    gap: 1em;
    transition: gap $time;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    font-size: 20px;
    text-align: left;
    li {
        > span {
            padding: 1em;
            display: block;
        }
        list-style-type: none;
        color: white;
        font-family: "Inter", sans-serif;
        @extend .transistion;
        &:hover {
            background-color: rgba(0, 0, 0, 0);
            @extend .transistion;
            color: $TuftsBlue;
        }
        > a {
            color: inherit;
            width: calc(160px - 1em);
            height: calc(160px - 1em);
            display: block;
            padding: 0.5em;
            text-decoration: none;
            overflow: hidden;
            transition: background-color 0.4s;
        }
    }
    > li {
        border: 2px solid $daAzul;
        background-color: $daAzul;
        // Only expand if it has submenu
        width: 160px;  // Might seem duplicate, but important for transistions to work
        height: 160px;  // Might seem duplicate, but important for transistions to work
        transition: height $time, width $time, border calc(#{$time} / 2) , padding $time, background-color 0.4s;
        > ul {
            @extend .subMenu;
            @extend .subMenuContracted;
        }
        &:hover:has(ul) {
            > ul {
                @extend .subMenuExpanded;
            }
            height: calc((120px + 2em + 4px) *  2 + 1em);
            display: inline-flex;
            flex-direction: column;
            padding: 1em;
            width: 95%;
            transition: height $time, width $time, padding $time, background-color 0.4s;
            // If li is hover, we want to create the inner button
            > a {
                background-color: $daAzul;
                color: white;
                width: calc(120px + 120px + 20px + 2em);
                height: 120px;
                border: 2px solid $daAzul;
                margin-bottom: 1em;
                transition: width $time, background-color 0.4s, color 0.4s;
                &:hover {
                    color: $daAzul;
                    background-color: rgba(0, 0, 0, 0);
                }
            }
        }
    }



    // If an ul has an li that is :hover and has a submenu, then hide all the other li that is not :hover
    // for some reason :has(li:hover:has(ul)) is not allowed... pfff
    &:has(li:hover > ul) {
        gap: 0;
        transition: gap $time;
        > li:not(:hover) {
            width: 0 !important;
            border: 0;
            transition: width $time, border-color calc(#{$time} / 2);
        }
    }
}

ul.subMenu {
    padding: 0;
    display: flex;
    > li > a {
        @extend .transistion;
        border: 0px solid $daCerulean;
        position: relative;
        > span {
            width: 120px;
            position: absolute;
        }
    }
}

ul.subMenuContracted {
    > li > a {
        height: 0;
        width: 0;
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        border: 0px solid rgba(0, 0, 0, 0);
        transition: width $time, height $time, padding $time, border-color calc(#{$time} / 2), background-color 0.4s;
    }

    background-image: none;
}

ul.subMenuExpanded {
    gap: 1em;
    transition: height;
    > li > a {
        @extend .cerulean;
        height: 120px;
        background-color: $daCerulean;
        width: 120px;
        padding: 1em;
        transition: width $time, height $time, padding $time, border-color calc(#{$time} / 2), background-color 0.4s, color 0.4s;
        &:hover {
            background-color: rgba(0, 0, 0, 0);
        }
    }
}

footer {
    margin-top: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
    border-top: 2px solid $daCerulean;
}

.links {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    a {
        display: flex;
        justify-content: center;
        padding: 0.6em 1em;
        background-color: $TuftsBlue;
        width: 10em;
        &:hover {
            background-color: $daCeruleanLight;
        }
        > img {
            height: 2em;
        }
    }
}

table {
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
}

th {
    border-bottom: 3px solid $daAzul;
}

th, td {
    min-width: 20px;
    padding: 0.3em 0.5em;
}

hr {
    border-color: $daCeruleanLight;
    margin-top: 2em;
    margin-bottom: 2em;
}

tr:not(:last-child) > td {
    border-bottom: 2px solid $daCeruleanLight;
}

td:not(:last-child), th:not(:last-child) {
    border-right: 2px solid $daCeruleanLight;
}
.tuftsbluebutton {
    background-color: $TuftsBlue;
    border: 2px solid $TuftsBlue;
    color: black;

    &:hover {
        background-color: rgba(0, 0, 0, 0);
        color: $TuftsBlue;
    }
}

.lightredbutton {
    background-color: $LightRed;
    border: 2px solid $LightRed;
    color: black;

    &:hover {
        background-color: rgba(0, 0, 0, 0);
        color: $LightRed;
    }
}

.darkredbutton {
    background-color: $DarkRed;
    border: 2px solid $DarkRed;
    color: black;

    &:hover {
        background-color: rgba(0, 0, 0, 0);
        color: $DarkRed;
    }
}

.offblackbutton {
    background-color: $OffBlack;
    border: 2px solid $OffBlack;
    color: white;

    &:hover {
        background-color: rgba(0, 0, 0, 0);
        color: $OffBlack;
    }
}

@media (max-width: 768px) {
  .menuList {
    justify-content: center;
  }
  #menuContainer {
    flex-direction: column;
    align-items: center;
    margin-top:3em;
    margin-bottom:1em;
  }
}

